@{
    ViewData["Title"] = "All Chefs Page";
}

<div class="text-center mt-5">
    <p class="fw-normal fs-1"><u>Check out our roster of chefs!</u></p>
    @await Html.PartialAsync("Tables/_AllChefs")
</div>
